.App {
  text-align: center;
  color: whitesmoke;
}

body {
  background-image: url('../public/crkfanart.jpeg'); /* Replace with your image path */
  background-size: contain;  /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Optional: keeps the background image fixed during scrolling */
}
